{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">About</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
            <li role="presentation"><a href="/exp">Experience</a></li>
            <li role="presentation" class="active"><a href="#">Verify</a></li>
        </ul>
    </nav>
</div> 
{% endblock %}
